*{
    background: rgb(12, 12, 12);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header{
    color: rgb(21, 122, 21);
    font-size: 25px;
    font-weight: 800;
    display:inline ;
}
#user{
    display:inline;
    float: inline-end;
}
#user-btn{
    background-color: transparent;
    font-weight: bolder;
    font-size: 15px;
    border:2px solid rgb(21, 122, 21);
}
#user-btn:hover{
    background-color:rgb(21, 122, 21);
    cursor: pointer;
    color: white;
}
h2{
    color: rgb(21, 122, 21);
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    padding-top: 50px;
    font-style: italic;
    transform: translateY(10px); 
    transition: opacity 1s ease-in-out, transform 2s ease-in-out;
    animation: fadeInUp 1s ease-out 0.5s forwards; 
}

p{
    color: rgb(127, 125, 122);
    text-align: justify;
    padding: 60px;
    margin-top: -80px;
    font-weight: 600;
    font-size: 18px;
}

button {
    background: rgb(26, 103, 26); 
    color: white; 
    border-radius: 10px;
    border: none;
    padding: 15px;
    align-items:  center;
    text-align: center;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: rgb(14, 57, 14); 
    color: rgb(62, 63, 67); 
}

button:hover a{
    color: rgb(131, 130, 130); 
}

.button-container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    margin-top: -20px;
}

button a {
    text-decoration: none; 
    color: white;
    background: none; 
    font-size: 18px; 
    font-weight: 800;
}
/* New CSS since no anchor tag used */
#B_info {
    background: rgb(26, 103, 26); 
    color: white; 
    border-radius: 10px;
    padding: 15px;
    align-items:  center;
    text-align: center;
     transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
     text-decoration: none; 
     color: white; 
     font-size: 18px; 
     font-weight: 800;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-20px); /* Starts offscreen */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Ends at the normal position */
    }
}